@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
	background-color: red;
font-family: 'Roboto', sans-serif;
}
#title {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#subhead {
	text-align: center;
	
	color: white;
}
#select1{
left: 25%;
position: absolute;
}
#select2{
	position: absolute;
left:75%;
}